[submodule "tools/src/serial"]
	path = tools/src/serial
	url = https://github.com/wjwwood/serial.git
[submodule "tools/src/ppp"]
	path = tools/src/ppp
	url = https://github.com/paulusmack/ppp.git
[submodule "tools/src/TW_5G_open_linux"]
	path = tools/src/TW_5G_open_linux
	url = https://github.com/TWxa001/TW_5G_open_linux.git
[submodule "tools/src/pdureader"]
	path = tools/src/pdureader
	url = https://github.com/mobrembski/pdureader.git
[submodule "tools/src/ModemManager"]
	path = tools/src/ModemManager
	url = https://github.com/linux-mobile-broadband/ModemManager.git
[submodule "tools/src/minicom"]
	path = tools/src/minicom
	url = https://github.com/dereknex/minicom.git
[submodule "tools/src/libphonenumber"]
	path = tools/src/libphonenumber
	url = https://github.com/google/libphonenumber
[submodule "tools/src/ofono"]
	path = tools/src/ofono
	url = https://git.kernel.org/pub/scm/network/ofono/ofono.git
[submodule "tools/src/phonesim"]
	path = tools/src/phonesim
	url = https://git.kernel.org/pub/scm/network/ofono/phonesim.git
